@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf9f6;
  --foreground: #171717;
  --dark-bg: #1b3942;
  --gold-bg: #94792f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --dark-bg: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.bg-temp-dark {
  background-color: var(--dark-bg);
}
